In [17]:
##date:25/08/2022
print("hello world");

hello world

In [18]:
print("a=5")

a=5

In [19]:
a=5;
b=6;
print(a+b)

11

In [20]:
x="vishesh"
y="jain"
print(x+" "+y)

vishesh jain

In [21]:
a="6"
b="5"
print(a+b)

65

In [22]:
#date:30/08/2022
a="My apples are Red & Green"
b=["My","applesare Red & Green"]
c=["My","apples","are Red & Green"]
d=["My","apples","are","Red & Green"]
e=["My","apples","are","Red","& Green"]
f=["My","apples","are","Red","&","Green"]
print(f[0]+f[1]+f[2]+f[3]+f[4]+f[5])

MyapplesareRed&Green

In [23]:
a=["vishesh","jain"]
print(type(a))
print(a[0]+" "+a[1])

<class 'list'>
vishesh jain

In [24]:

a="my name is vishesh jain "
word=[]
w=""
c=""
for words in (a):  
    c+=words
    if(words==' '):
     word.append(c)
     c=""
print(word)

['my ', 'name ', 'is ', 'vishesh ', 'jain ']

In [25]:
##date:01/09/2022

num1=float(input("enter first number:"))
num2=float(input("enter second number:"))
operation=input("enter the operation:")
if(operation=="+"):
    result=num1 + num2 
    print("the sum of num1 & num2", result)
elif(operation=="*"):
    result=num1 * num2
    print("the multiplication of num1 & num2", result)
elif(operation=="/"):
    result=num1/num2
    print("the division of num1 & num2", result)
elif(operation=="-"):
    result=num1 - num2
    print("the substraction of num1 & num2", result)

enter first number:

ValueError: could not convert string to float: ''

In [ ]:
num=int(input("enter a number"))
if(num%2==0):
    print("number is even")
else:
    print("number is odd")

In [4]:
a=input("enter any character:")
b=int(input("enter any number:"))
c=b-1
for i in range(b):
    print((c)*(" "), end = ' ')
    print((i+1)*(a+" "))
    c-=1

enter any character:*
enter any number:8
        *
       * *
      * * *
     * * * *
    * * * * *
   * * * * * *
  * * * * * * *
 * * * * * * * *

In [3]:
a=input("enter any character:")
b=int(input("enter any number:"))
c=0
for i in range(b):
    print((c)*(" "), end = ' ')
    print((b)*(a+" "))
    b=b-1
    c=c+1

enter any character:*
enter any number:9
 * * * * * * * * *
  * * * * * * * *
   * * * * * * *
    * * * * * *
     * * * * *
      * * * *
       * * *
        * *
         *

In [9]:
a=input("enter any character:")
b=int(input("enter any number:"))
c=b-1
for i in range(b):
     print((c)*(" "), end = ' ')
     print((i+1)*(a+" "))
     c-=1
     if(i==b-1):
        b=b-1
        c=0
        for i in range(b):
            print((c)*(" "), end = ' ')
            print((b)*(" "+a))
            b=b-1
            c=c+1

enter any character:*
enter any number:8
        *
       * *
      * * *
     * * * *
    * * * * *
   * * * * * *
  * * * * * * *
 * * * * * * * *
  * * * * * * *
   * * * * * *
    * * * * *
     * * * *
      * * *
       * *
        *

In [11]:
def triangle(a,b):
    c=b-1
    for i in range(b):
        print((c)*(" "), end = ' ')
        print((i+1)*(a+" "))
        c-=1
a=input("enter any character:")
b=int(input("enter any number:"))
triangle(a,b)

enter any character:*
enter any number:9
         *
        * *
       * * *
      * * * *
     * * * * *
    * * * * * *
   * * * * * * *
  * * * * * * * *
 * * * * * * * * *

In [49]:
##Date:0709/2022
a=['anmol', 'vishesh']
for i in a:
    print(i, end=' ')

anmol vishesh

In [50]:
a[1:3]

['vishesh']

In [51]:
a.append('mayur')
a

['anmol', 'vishesh', 'mayur']

In [52]:
b=[1,2,3,4,5]
b.append(6)
b

[1, 2, 3, 4, 5, 6]

In [53]:
b.extend([7,8])
b

[1, 2, 3, 4, 5, 6, 7, 8]

In [54]:
b.remove(8)
b

[1, 2, 3, 4, 5, 6, 7]

In [55]:
b[8:8]=[8,9,10,11]
b

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

In [56]:
del b[10]
b

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [57]:
del b[1:3]
b

[1, 4, 5, 6, 7, 8, 9, 10]

In [58]:
c={1:'Ankit', 2:'Anmol', 3:'Narayan', 4:'Sandeep', 5:'Vishesh'}
c

{1: 'Ankit', 2: 'Anmol', 3: 'Narayan', 4: 'Sandeep', 5: 'Vishesh'}

In [59]:
c.update({6:'Mayur'})
c

{1: 'Ankit', 2: 'Anmol', 3: 'Narayan', 4: 'Sandeep', 5: 'Vishesh', 6: 'Mayur'}

In [60]:
c.items()

dict_items([(1, 'Ankit'), (2, 'Anmol'), (3, 'Narayan'), (4, 'Sandeep'), (5, 'Vishesh'), (6, 'Mayur')])

In [61]:
c.keys()

dict_keys([1, 2, 3, 4, 5, 6])

In [62]:
c.values()

dict_values(['Ankit', 'Anmol', 'Narayan', 'Sandeep', 'Vishesh', 'Mayur'])

In [63]:
c.pop(6)

'Mayur'

In [64]:
c.popitem()

(5, 'Vishesh')

In [65]:
c.fromkeys('Sandeep')

{'S': None, 'a': None, 'n': None, 'd': None, 'e': None, 'p': None}

In [66]:
c.get(4)

'Sandeep'

In [67]:
c.copy()

{1: 'Ankit', 2: 'Anmol', 3: 'Narayan', 4: 'Sandeep'}

In [3]:
name=input("name of a person: ")
def palin(name):
    st=''
    i=-1
    for n in name:
        st+=name[i]
        i=i-1
    if(st==name):
        print("yes it is a palindrome")
    else:
        print("no, it is not palindrome")
palin(name)

name of a person: naman
yes it is a palindrome

In [1]:
n=int(input("enter any number: "))
def fibonacci(n):
    if n<0:
        print("Incorrect Number")
    elif n==0:
        return 0
    elif n==1 or n==2:
        return 1
    else:
        return fibonacci(n-1) + fibonacci(n-2)
print(fibonacci(n))

enter any number: 25
75025

In [69]:
##date:08/09/2022
##input: list of number, output:dict() keys:number and values as their square
a=[1,2,3,4,5,6,7,8,9,10,11]
b=dict()
for i in a:
    b[i]=i**2
b

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121}

In [70]:
a=dict()
for i in range(1,16):
    a[i]=i**2
a

{1: 1,
 2: 4,
 3: 9,
 4: 16,
 5: 25,
 6: 36,
 7: 49,
 8: 64,
 9: 81,
 10: 100,
 11: 121,
 12: 144,
 13: 169,
 14: 196,
 15: 225}

In [71]:
##input: number or string 
##output: reverse order of input
a=input("enter anything: ")
b=-1
for i in a:
    print(a[b], end='')
    b=b-1

enter anything: 0123456789
9876543210

In [2]:
##input: range of number and size of list
##output: list with random number of given size
import random
a=int(input("enter first number: "))
b=int(input("enter second number: "))
c=int(input("size of list: "))
d=[]
for i in range(c):
    d.append(random.randint(a,b))
d

enter first number: -10
enter second number: 10
size of list: 10

[8, -9, 0, -6, -2, -6, -5, 6, -1, 2]

In [5]:
import random
a=int(input("enter first number: "))
b=int(input("enter second number: "))
c=int(input("size of list: "))
d=[]
for i in range(c):
    d.append(random.uniform(a,b))
d

enter first number: 1
enter second number: 2
size of list: 3

[1.8189736420649687, 1.9445226875416664, 1.435602894485645]

In [7]:
import random
a=float(input("enter first number: "))
b=float(input("enter second number: "))
c=int(input("size of list: "))
d=[]
for i in range(c):
    d.append(random.uniform(a,b))
d

enter first number: 0.01
enter second number: 0.02
size of list: 2

[0.01761996187973884, 0.017715666746933832]

In [2]:
##date:12/09/2022
##program for a simple calculator
##function for addition
def add(a,b):
    return a+b
def subtract(a,b):      ## function for subtraction
    return a-b
def multiplies(a,b):     ##function for multiplication
    return a*b
def divides(a,b):       ## function for division
    return a/b
a=float(input("enter first number: "))
b=float(input("enter second number: "))
c=int(input("enter operation number:"))
if(c==1):
    print(add(a,b))
elif(c==2):
    print(subtract(a,b))
elif(c==3):
    print(multiplies(a,b))
elif(c==4):
    print(divides(a,b))

enter first number: 1542
enter second number: 25
enter operation number:3
38550.0