In [17]:
##date:25/08/2022
print("hello world");

hello world

In [18]:
print("a=5")

a=5

In [19]:
a=5;
b=6;
print(a+b)

11

In [20]:
x="vishesh"
y="jain"
print(x+" "+y)

vishesh jain

In [21]:
a="6"
b="5"
print(a+b)

65

In [22]:
#date:30/08/2022
a="My apples are Red & Green"
b=["My","applesare Red & Green"]
c=["My","apples","are Red & Green"]
d=["My","apples","are","Red & Green"]
e=["My","apples","are","Red","& Green"]
f=["My","apples","are","Red","&","Green"]
print(f[0]+f[1]+f[2]+f[3]+f[4]+f[5])

MyapplesareRed&Green

In [23]:
a=["vishesh","jain"]
print(type(a))
print(a[0]+" "+a[1])

<class 'list'>
vishesh jain

In [24]:

a="my name is vishesh jain "
word=[]
w=""
c=""
for words in (a):  
    c+=words
    if(words==' '):
     word.append(c)
     c=""
print(word)

['my ', 'name ', 'is ', 'vishesh ', 'jain ']

In [1]:
##date:01/09/2022
a=float(input("enter first number:"))
b=float(input("enter second number:"))
operation=input("enter the operation:")
if(operation=="+"):
    c=a + b 
    print("the sum of a & b is", c)
elif(operation=="*"):
    c=a * b
    print("the multiplication of a & b is", c)
elif(operation=="/"):
    c=a/b
    print("the division of a & b is ", c)
elif(operation=="-"):
    c=a - b
    print("the substraction of a & b is ", c)

enter first number:581220
enter second number:50100
enter the operation:/
the division of a & b is  11.60119760479042

In [2]:
num=int(input("enter a number"))
if(num%2==0):
    print("number is even")
else:
    print("number is odd")

enter a number559452
number is even

In [4]:
a=input("enter any character:")
b=int(input("enter any number:"))
c=b-1
for i in range(b):
    print((c)*(" "), end = ' ')
    print((i+1)*(a+" "))
    c-=1

enter any character:*
enter any number:8
        *
       * *
      * * *
     * * * *
    * * * * *
   * * * * * *
  * * * * * * *
 * * * * * * * *

In [3]:
a=input("enter any character:")
b=int(input("enter any number:"))
c=0
for i in range(b):
    print((c)*(" "), end = ' ')
    print((b)*(a+" "))
    b=b-1
    c=c+1

enter any character:*
enter any number:9
 * * * * * * * * *
  * * * * * * * *
   * * * * * * *
    * * * * * *
     * * * * *
      * * * *
       * * *
        * *
         *

In [9]:
a=input("enter any character:")
b=int(input("enter any number:"))
c=b-1
for i in range(b):
     print((c)*(" "), end = ' ')
     print((i+1)*(a+" "))
     c-=1
     if(i==b-1):
        b=b-1
        c=0
        for i in range(b):
            print((c)*(" "), end = ' ')
            print((b)*(" "+a))
            b=b-1
            c=c+1

enter any character:*
enter any number:8
        *
       * *
      * * *
     * * * *
    * * * * *
   * * * * * *
  * * * * * * *
 * * * * * * * *
  * * * * * * *
   * * * * * *
    * * * * *
     * * * *
      * * *
       * *
        *

In [11]:
def triangle(a,b):
    c=b-1
    for i in range(b):
        print((c)*(" "), end = ' ')
        print((i+1)*(a+" "))
        c-=1
a=input("enter any character:")
b=int(input("enter any number:"))
triangle(a,b)

enter any character:*
enter any number:9
         *
        * *
       * * *
      * * * *
     * * * * *
    * * * * * *
   * * * * * * *
  * * * * * * * *
 * * * * * * * * *

In [49]:
##Date:0709/2022
a=['anmol', 'vishesh']
for i in a:
    print(i, end=' ')

anmol vishesh

In [50]:
a[1:3]

['vishesh']

In [51]:
a.append('mayur')
a

['anmol', 'vishesh', 'mayur']

In [52]:
b=[1,2,3,4,5]
b.append(6)
b

[1, 2, 3, 4, 5, 6]

In [53]:
b.extend([7,8])
b

[1, 2, 3, 4, 5, 6, 7, 8]

In [54]:
b.remove(8)
b

[1, 2, 3, 4, 5, 6, 7]

In [55]:
b[8:8]=[8,9,10,11]
b

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

In [56]:
del b[10]
b

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [57]:
del b[1:3]
b

[1, 4, 5, 6, 7, 8, 9, 10]

In [58]:
c={1:'Ankit', 2:'Anmol', 3:'Narayan', 4:'Sandeep', 5:'Vishesh'}
c

{1: 'Ankit', 2: 'Anmol', 3: 'Narayan', 4: 'Sandeep', 5: 'Vishesh'}

In [59]:
c.update({6:'Mayur'})
c

{1: 'Ankit', 2: 'Anmol', 3: 'Narayan', 4: 'Sandeep', 5: 'Vishesh', 6: 'Mayur'}

In [60]:
c.items()

dict_items([(1, 'Ankit'), (2, 'Anmol'), (3, 'Narayan'), (4, 'Sandeep'), (5, 'Vishesh'), (6, 'Mayur')])

In [61]:
c.keys()

dict_keys([1, 2, 3, 4, 5, 6])

In [62]:
c.values()

dict_values(['Ankit', 'Anmol', 'Narayan', 'Sandeep', 'Vishesh', 'Mayur'])

In [63]:
c.pop(6)

'Mayur'

In [64]:
c.popitem()

(5, 'Vishesh')

In [65]:
c.fromkeys('Sandeep')

{'S': None, 'a': None, 'n': None, 'd': None, 'e': None, 'p': None}

In [66]:
c.get(4)

'Sandeep'

In [67]:
c.copy()

{1: 'Ankit', 2: 'Anmol', 3: 'Narayan', 4: 'Sandeep'}

In [3]:
name=input("name of a person: ")
def palin(name):
    st=''
    i=-1
    for n in name:
        st+=name[i]
        i=i-1
    if(st==name):
        print("yes it is a palindrome")
    else:
        print("no, it is not palindrome")
palin(name)

name of a person: naman
yes it is a palindrome

In [1]:
n=int(input("enter any number: "))
def fibonacci(n):
    if n<0:
        print("Incorrect Number")
    elif n==0:
        return 0
    elif n==1 or n==2:
        return 1
    else:
        return fibonacci(n-1) + fibonacci(n-2)
print(fibonacci(n))

enter any number: 25
75025

In [69]:
##date:08/09/2022
##input: list of number, output:dict() keys:number and values as their square
a=[1,2,3,4,5,6,7,8,9,10,11]
b=dict()
for i in a:
    b[i]=i**2
b

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121}

In [70]:
a=dict()
for i in range(1,16):
    a[i]=i**2
a

{1: 1,
 2: 4,
 3: 9,
 4: 16,
 5: 25,
 6: 36,
 7: 49,
 8: 64,
 9: 81,
 10: 100,
 11: 121,
 12: 144,
 13: 169,
 14: 196,
 15: 225}

In [71]:
##input: number or string 
##output: reverse order of input
a=input("enter anything: ")
b=-1
for i in a:
    print(a[b], end='')
    b=b-1

enter anything: 0123456789
9876543210

In [2]:
##input: range of number and size of list
##output: list with random number of given size
import random
a=int(input("enter first number: "))
b=int(input("enter second number: "))
c=int(input("size of list: "))
d=[]
for i in range(c):
    d.append(random.randint(a,b))
d

enter first number: -10
enter second number: 10
size of list: 10

[8, -9, 0, -6, -2, -6, -5, 6, -1, 2]

In [5]:
import random
a=int(input("enter first number: "))
b=int(input("enter second number: "))
c=int(input("size of list: "))
d=[]
for i in range(c):
    d.append(random.uniform(a,b))
d

enter first number: 1
enter second number: 2
size of list: 3

[1.8189736420649687, 1.9445226875416664, 1.435602894485645]

In [7]:
import random
a=float(input("enter first number: "))
b=float(input("enter second number: "))
c=int(input("size of list: "))
d=[]
for i in range(c):
    d.append(random.uniform(a,b))
d

enter first number: 0.01
enter second number: 0.02
size of list: 2

[0.01761996187973884, 0.017715666746933832]

In [2]:
##date:12/09/2022
##program for a simple calculator
##function for addition
def add(a,b):
    return a+b
def subtract(a,b):      ## function for subtraction
    return a-b
def multiplies(a,b):     ##function for multiplication
    return a*b
def divides(a,b):       ## function for division
    return a/b
a=float(input("enter first number: "))
b=float(input("enter second number: "))
c=int(input("enter operation number:"))
if(c==1):
    print(add(a,b))
elif(c==2):
    print(subtract(a,b))
elif(c==3):
    print(multiplies(a,b))
elif(c==4):
    print(divides(a,b))

enter first number: 1542
enter second number: 25
enter operation number:3
38550.0

In [3]:
##date:14/09/2022
##use of class and object 
class poetry():
    def __init__(self, title, poems_count, author, price):
        self.title=title
        self.poems_count=poems_count
        self. author= author
        self.price=price
poem=poetry("ptt by vishesh", 300, "vishesh jain", 150)
poem

In [4]:
class poetry():
    def __init__(self, title, poems_count, author, price):
        self.title=title
        self.poems_count=poems_count
        self. author= author
        self.price=price
    def __repr__(self):
        return f'poetry: {self.title} by {self.author}, price {self.price}'
poem=poetry("ptt by vishesh", 300, "vishesh jain", 150)
poem

poetry: ptt by vishesh by vishesh jain, price 150

In [6]:
class poetry():
    def __init__(self, title, poems_count, author, price):
        self.title=title
        self.poems_count=poems_count
        self. author= author
        self.__price=price
        self.__discount=None
    def set_discount(self, value):
        self.__discount = value
    def get_price(self):
        if self.__discount is None:
            return self.__price
        else:
            return self.__price * (1 - self.__discount)
    def __repr__(self):
        return f'Poetry: {self.title} by {self.author}, price {self.get_price()}' 
retail_purchase=poetry("ptt by vishesh", 300, "vishesh jain", 150)
bulk_purchase =poetry("ptt by vishesh", 300, "vishesh jain", 150)
bulk_purchase.set_discount(0.30)
print(retail_purchase.get_price())
print(bulk_purchase.get_price())
print(retail_purchase)
print(bulk_purchase)

150
105.0
Poetry: ptt by vishesh by vishesh jain, price 150
Poetry: ptt by vishesh by vishesh jain, price 105.0

In [7]:
class Book():
    def __init__(self, title, author, price):
        self.title = title
        self.author = author
        self.__price = price
        self.__discount = None
    def set_discount(self, value):
        self.__discount = value
    def get_price(self):
        if self.__discount is None:
            return self.__price
        else:
            return self.__price * (1 - self.__discount) 
class poetry(Book):
    def __init__(self, title, poems_count, author, price):
        super().__init__(title, author, price)
        self.poems_count = poems_count
    def __repr__(self):
        return f'poetry: {self.title} by {self.author}, price {self.get_price()}'   
poem=poetry("ptt by vishesh", 300, "vishesh jain", 150)
poem
poem.set_discount(0.015)
poem

poetry: ptt by vishesh by vishesh jain, price 147.75

In [8]:
##Inheritance
class Play(Book):
    def __init__(self, title, genre, author, price):
        super().__init__(title, author, price)
        self.genre = genre
    def __repr__(self):
        return f'{self.genre} Play: {self.title} by {self.author}, price {self.get_price()}'
class Novel(Book):
    def __init__(self, title, pages, author, price):
        super().__init__(title, author, price)
        self.pages = pages
    def __repr__(self):
        return f'Novel: {self.title} by {self.author}, price {self.get_price()}' 
play = Play('nukkad natak', 'comedy', 'Anmol Agarwal', 160)
novel = Novel('To kill a imposter', 281, 'Vishesh Jain', 310)
print(play)
print(novel)

comedy Play: nukkad natak by Anmol Agarwal, price 160
Novel: To kill a imposter by Vishesh Jain, price 310

In [1]:
##Date:15/09/2022
##Polymorphism
class Book():
    def __init__(self, title, author, price):
        self.title = title
        self.author = author
        self.__price = price
        self.__discount = None
    def set_discount(self, value):
        self.__discount = value
    def get_price(self):
        if self.__discount is None:
            return self.__price
        else:
            return self.__price * (1 - self.__discount)
    def __repr__(self):
        return f'{self.title} by {self.author}, price {self.get_price()}'
class Poetry(Book):
    def __init__(self, title, poems_count, author, price):
        super().__init__(title, author, price)
        self.poems_count = poems_count
class Play(Book):
    def __init__(self, title, genre, author, price):
        super().__init__(title, author, price)
        self.genre = genre
    def __repr__(self):
        return f'{self.genre} Play: {self.title} by {self.author}, price {self.get_price()}'
class Novel(Book):
    def __init__(self, title, pages, author, price):
        super().__init__(title, author, price)
        self.pages = pages 
poem_2 = Poetry('Milk and Honey', 179, 'Rupi Kaur', 320)
play_2 = Play('An Ideal Husband', 'Comedy', 'Oscar Wilde', 240)
novel_2 = Novel('The Fullmetal Alchemist', 161, 'Paulo Coelho', 180)
print(poem_2)
print(play_2)
print(novel_2)

Milk and Honey by Rupi Kaur, price 320
Comedy Play: An Ideal Husband by Oscar Wilde, price 240
The Fullmetal Alchemist by Paulo Coelho, price 180

In [2]:
##Abstraction
from abc import ABC, abstractmethod
class Book(ABC):
    def __init__(self, title, author, price):
        self.title = title
        self.author = author
        self.__price = price
        self.__discount = None
    def set_discount(self, value):
        self.__discount = value
    def get_price(self):
        if self.__discount is None:
            return self.__price
        else:
            return self.__price * (1 - self.__discount)
    def __repr__(self):
        return f'{self.title} by {self.author}, price {self.get_price()}'
class Poetry(Book):
    def __init__(self, title, poems_count, author, price):
        super().__init__(title, author, price)
        self.poems_count = poems_count
class Play(Book):
    def __init__(self, title, genre, author, price):
        super().__init__(title, author, price)
        self.genre = genre
    def __repr__(self):
        return f'{self.genre} Play: {self.title} by {self.author}, price {self.get_price()}' 
play_3 = Play('Death of a Salesman', 'Tragedy', 'Arthur Miller', 240)
poem_3 = Poetry('Life on Mars', 33, 'Tracy K. Smith', 100) 
print(poem_3)
print(play_3)

Life on Mars by Tracy K. Smith, price 100
Tragedy Play: Death of a Salesman by Arthur Miller, price 240

In [3]:
class Book(ABC):
    def __init__(self, title, author, price):
        self.title = title
        self.author = author
        self.__price = price
        self.__discount = None

    def set_discount(self, value):
        self.__discount = value

    def get_price(self):
        if self.__discount is None:
            return self.__price
        else:
            return self.__price * (1 - self.__discount)
    def __repr__(self):
        return f'{self.title} by {self.author}, price {self.get_price()}'
class Poetry(Book):
    def __init__(self, title, poems_count, author, price):
        super().__init__(title, author, price)
        self.poems_count = poems_count
    def __repr__(self):
        return f'Poetry: {self.title} by {self.author}, {self.poems_count} poems, price {self.get_price()}'
class Play(Book):
    def __init__(self, title, genre, author, price):
        super().__init__(title, author, price)
        self.genre = genre
    def __repr__(self):
        return f'Play: {self.title} by {self.author}, {self.genre} genre, price {self.get_price()}'
class Novel(Book):
    def __init__(self, title, pages, author, price):
        super().__init__(title, author, price)
        self.pages = pages
    def __repr__(self):
        return f'Novel: {self.title} by {self.author}, {self.pages} pages, price {self.get_price()}' 
poem_3 = Poetry('Life on Mars', 33, 'Tracy K. Smith', 100)
play_3 = Play('Death of a Salesman', 'Tragedy', 'Arthur Miller', 240)
novel_3 = Novel('Peril at End House', 270, 'Agatha Christie', 210)
print(poem_3) 
print(play_3)
print(novel_3)

Poetry: Life on Mars by Tracy K. Smith, 33 poems, price 100
Play: Death of a Salesman by Arthur Miller, Tragedy genre, price 240
Novel: Peril at End House by Agatha Christie, 270 pages, price 210