In [4]:
print("hello")

hello

In [5]:
a=9
b=9
print(a+b)

18

In [6]:
X="anmol"
y="agrawal"
c=X+y
print(X+" "+y)

anmol agrawal

In [7]:
print(1)

1

In [8]:
ab="i am anmol agrawal"

In [9]:
word=[]
w=""
c=""
for words in (ab):  
    c+=words
    if(words==' '):
        word.append(c)
        c=""
    
print(word)

['i ', 'am ', 'anmol ']

In [10]:
a=["vishesh", "jain"]
print(a[0]+" "+a[1])

vishesh jain

In [11]:
a[2:4]

[]

In [12]:
a=[1,2,3,4,5,6,7,8,9]
a[0:10]

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [13]:
a.append(10)
a

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [14]:
a.extend([11,12])
a

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]

In [15]:
a.remove(11)
a

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 12]

In [16]:
a.extend([13])
a

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 12, 13]

In [17]:
classs={ 1:'Áabha' , 3:'Aditi' , 7:'Ankit' , 8:'Anmol', 64:'Vishesh'}
classs

{1: 'Áabha', 3: 'Aditi', 7: 'Ankit', 8: 'Anmol', 64: 'Vishesh'}

In [18]:
classs.update({65:'Yatharth'})
classs

{1: 'Áabha', 3: 'Aditi', 7: 'Ankit', 8: 'Anmol', 64: 'Vishesh', 65: 'Yatharth'}

In [19]:
classs.items()

dict_items([(1, 'Áabha'), (3, 'Aditi'), (7, 'Ankit'), (8, 'Anmol'), (64, 'Vishesh'), (65, 'Yatharth')])

In [20]:
classs.keys()

dict_keys([1, 3, 7, 8, 64, 65])

In [21]:
classs.pop(65)

'Yatharth'

In [22]:
classs.popitem()

(64, 'Vishesh')

In [23]:
classs.values()

dict_values(['Áabha', 'Aditi', 'Ankit', 'Anmol'])

In [24]:
classs.fromkeys('Vishesh')

{'V': None, 'i': None, 's': None, 'h': None, 'e': None}

In [25]:
classs.get(1)

'Áabha'

In [26]:
classs.copy()

{1: 'Áabha', 3: 'Aditi', 7: 'Ankit', 8: 'Anmol'}

In [27]:
name=input("name of a person: ")
def palin(name):
    st=''
    i=-1
    for n in name:
        st+=name[i]
        i=i-1
    if(st==name):
        print("ÿes it is a palindrome")
    else:
        print("no it is not a palndrome")

palin(name)

name of a person: naman
ÿes it is a palindrome

In [33]:
def fibonacci(n):
    if n<0:
        print("Incorrect input")
    elif n==0:
        return 0
    elif n==1 or n==2:
        return 1
    else:
        return fibonacci(n-1) + fibonacci(n-2)
print(fibonacci(30))

832040

In [37]:
 list=[1,2,3,4,5,6,7,8,9,10,11]
 d=dict()
for x in (list):
    d[x]=x**2
print(d)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121}

In [38]:
d=dict()
for x in range(1,21):
    d[x]=x**2
print(d)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121, 12: 144, 13: 169, 14: 196, 15: 225, 16: 256, 17: 289, 18: 324, 19: 361, 20: 400}

In [41]:
a=input("enter anything: ")
b=-1
for i in a:
    print(a[b], end='')
    b=b-1

enter anything: 0123456789
9876543210

In [44]:
import random 
a=int(input("enter first number: "))
b=int(input("enter second number: "))
c=int(input("size of list: "))
d=[]
for i in range(c):
    d.append(random.randint(a,b))
print(d)

enter first number: -100
enter second number: 100
size of list: 50
[-97, -44, -41, -17, -20, -78, 10, 40, -76, -44, -24, -12, 48, 16, -99, 88, -67, -99, 67, 64, -61, -9, -17, 34, -21, -52, 87, -92, -38, 17, 26, 99, -9, -62, -69, 95, 85, 93, 20, -49, 43, 31, 90, -15, -94, -17, 32, 3, 51, -57]

In [3]:
import random 
a=float(input("enter first number: "))
b=float(input("enter second number: "))
c=int(input("size of list: "))
d=[]
for i in range(c):
    d.append(random.uniform(a,b))
print(d)

enter first number: -12.5
enter second number: 12.5
size of list: 5
[7.920814036379269, 10.085869788651038, 8.384755735059198, -1.5501620653245265, -4.4767679004204]

In [4]:
import random 
a=int(input("enter first number: "))
b=int(input("enter second number: "))
c=int(input("size of list: "))
d=[]
for i in range(c):
    d.append(random.uniform(a,b))
print(d)

enter first number: 1
enter second number: 2
size of list: 10
[1.3440526524227938, 1.0703890985411524, 1.9856207345802548, 1.036161337910268, 1.2263150168844972, 1.032048392129596, 1.8270133909960447, 1.9490042448702147, 1.1605194708663165, 1.3713750731114391]

In [9]:
a=float(input("enter first number:"))
b=float(input("enter second number:"))
operation=input("enter the operation:")
if(operation=="+"):
    c=a + b 
    print("the sum of a & b is", c)
elif(operation=="*"):
    c=a * b
    print("the multiplication of a & b is", c)
elif(operation=="/"):
    c=a/b
    print("the division of a & b is ", c)
elif(operation=="-"):
    c=a - b
    print("the substraction of a & b is ", c)

enter first number:255745745754
enter second number:5751
enter the operation:/
the division of a & b is  44469787.12467397

In [30]:
##use of class and object 
class poetry():
    def __init__(self, title, poems_count, author, price):
        self.title=title
        self.poems_count=poems_count
        self. author= author
        self.price=price
poem=poetry("ptt by vishesh", 300, "vishesh jain", 150)
poem

In [11]:
class poetry():
    def __init__(self, title, poems_count, author, price):
        self.title=title
        self.poems_count=poems_count
        self. author= author
        self.price=price
    def __repr__(self):
        return f'poetry: {self.title} by {self.author}, price {self.price}'
poem=poetry("ptt by vishesh", 300, "vishesh jain", 150)
poem

poetry: ptt by vishesh by vishesh jain, price 150

In [31]:
class poetry():
    def __init__(self, title, poems_count, author, price):
        self.title=title
        self.poems_count=poems_count
        self. author= author
        self.__price=price
        self.__discount=None
    def set_discount(self, value):
        self.__discount = value
    def get_price(self):
        if self.__discount is None:
            return self.__price
        else:
            return self.__price * (1 - self.__discount)
    def __repr__(self):
        return f'Poetry: {self.title} by {self.author}, price {self.get_price()}' 
retail_purchase=poetry("ptt by vishesh", 300, "vishesh jain", 150)
bulk_purchase =poetry("ptt by vishesh", 300, "vishesh jain", 150)
bulk_purchase.set_discount(0.30)
print(retail_purchase.get_price())
print(bulk_purchase.get_price())
print(retail_purchase)
print(bulk_purchase)

150
105.0
Poetry: ptt by vishesh by vishesh jain, price 150
Poetry: ptt by vishesh by vishesh jain, price 105.0

In [29]:
class Book():
    def __init__(self, title, author, price):
        self.title = title
        self.author = author
        self.__price = price
        self.__discount = None
    def set_discount(self, value):
        self.__discount = value
    def get_price(self):
        if self.__discount is None:
            return self.__price
        else:
            return self.__price * (1 - self.__discount) 
class poetry(Book):
    def __init__(self, title, poems_count, author, price):
        super().__init__(title, author, price)
        self.poems_count = poems_count
    def __repr__(self):
        return f'poetry: {self.title} by {self.author}, price {self.get_price()}'   
poem=poetry("ptt by vishesh", 300, "vishesh jain", 150)
poem
poem.set_discount(0.015)
poem

poetry: ptt by vishesh by vishesh jain, price 147.75

In [33]:
class Play(Book):
    def __init__(self, title, genre, author, price):
        super().__init__(title, author, price)
        self.genre = genre
    def __repr__(self):
        return f'{self.genre} Play: {self.title} by {self.author}, price {self.get_price()}'
class Novel(Book):
    def __init__(self, title, pages, author, price):
        super().__init__(title, author, price)
        self.pages = pages
    def __repr__(self):
        return f'Novel: {self.title} by {self.author}, price {self.get_price()}' 
play = Play('nukkad natak', 'comedy', 'Anmol Agarwal', 160)
novel = Novel('To kill a imposter', 281, 'Vishesh Jain', 310)
print(play)
print(novel)

comedy Play: nukkad natak by Anmol Agarwal, price 160
Novel: To kill a imposter by Vishesh Jain, price 310